In [1]:
import pandas as pd

df = pd.read_csv("datasets/raw/IndiaCovidVaccination2023.csv")
df.head()

,State/UTs,Total Doses,Dose1,Dose 2,Dose 1 15-18,Dose 2 15-18,Dose 1 12-14,Dose 2 12-14,Precaution 18-59,Precaution
0,Andaman and Nicobar,"9,91,2640","3,13,2840","3,20,3830","19,2080","18,8600","15,1240","14,0420","2,36,9360","53,4270"
1,Andhra Pradesh,"11,09,57,4230","4,06,45,6920","4,35,55,7410","25,35,3430","25,27,6130","15,23,3750","14,95,4450","1,20,54,8680","66,19,3460"
2,Arunachal Pradesh,"19,24,5840","8,61,3960","7,48,5050","59,1000","44,8690","40,8520","28,4450","81,1910","60,2260"
3,Assam,"5,03,35,7780","2,25,50,9410","2,05,75,5690","12,62,5200","9,72,4020","9,99,5520","6,02,2830","21,08,1790","12,64,3320"
4,Bihar,"15,72,91,38556","6,29,56,6010","5,91,60,9160","62,40,6500","53,48,4800","42,88,4011","34,02,97922","1,20,21,61528","38,71,7435"